@value makerSmall from "../../common/size.css";
@value makerPink from "../../common/color.css";

.middleLine {
    margin: 0;
    width: 100%;
}

.detail {
    text-align: center;
    height: 30rem;
}

.container {
    display: flex;
    /* justify-content: space-between; */
    margin-bottom: 2rem;
}

.img {
    width: 40%;
    height: 20rem;
    border-radius: 4px;
}

.metadatas {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.metadata {
    width:100%;
    height: 100%;
    margin: 10px;
}

.description {
    background-color: makerPink;
    width: 100%;

    text-align: left;
    padding: 1rem;
    border-radius: 4px;
}

.button {
    margin-left:1rem;
    height: 100%;
    font-size: makerSmall;
}

.descriptionTitle {
    text-align: left;
}

.headerTitle {
    margin: 0 0 0 10px ;
}