.detail {
    /* text-align: right; */
}

.container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.imageBox {
    background-color: red;
    width: 20rem;
    height:20rem;
}

.img {
    width: 30rem;
    height: 30rem;
}

.metadata {
    display: flex;
    flex-direction: column;
}

.metadata {
    width:25rem;
    height: 3rem;
    margin: 1rem;
    background-color: pink;
}

.description {
    background-color: plum;
    width: 100%;
    height: 10rem;
}

.button {
    width: 5rem;
}