@value makerPink, makerDeepOrange, makerGreen from "../../common/color.css";
@value makerXSmall from "../../common/size.css";

hr {
  width: 80%;
}

.title {
  margin-left: 2rem;
}

.container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.inputBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loginForm {
  margin:2rem;
  background-color:makerPink;
  border-radius: 4px;
  width: 40%;
  height: 40rem;
}

.auth {
  display: flex;
  margin-bottom: 1.5rem;
  width: 80%;
}

.authButton{
  width: 5rem;
  height: 3rem;
  margin-left: 1rem;
}

.input {
  height: 3rem;
  width: 80%;
  margin: 0 0 5% 0;
}

.button {
  font-size: makerXSmall;
  width: 80%;
  height: 3rem
}

.link {
  color: makerDeepOrange;
}