@value makerGreen, makerOrange from '../../common/color.css';
@value makerSmall from "../../common/size.css";

.search {
  display: flex;
  background-color: makerOrange;
  padding:1rem;
  height: 20rem;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.input {
  width: 50rem;
  height: 3rem;
}

.button {
  cursor: pointer;
  font-size: 15px;
  background-color: makerGreen;
  border: none;
  border-radius:4px;
  height: 3rem;
  width: 4rem;
  margin:0.3rem;
}