@value makerSmall from "../../common/size.css";
@value makerGreen from "../../common/color.css";

.menu {
    margin: 1rem;
    border-right: solid 2px makerGreen;
    width: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:1rem;
}
.avatar {
    margin-right: 1rem;
    border-radius: 50%;
    border: solid 2px makerGreen;
    width: 10rem;
    height: 10rem;
}

.data {
    margin: 10px 0 0 0;
}

.tab {
    cursor: pointer;
    font-size: makerSmall;
    margin: 1rem;
}