.navbar {
    display: flex;
    background-color:blanchedalmond;
    justify-content: space-between;
    align-items: center;
}

.loginToJoin {
    display: flex;
}

.navbarLists {
    display: flex;
    text-decoration: none;
    list-style: none;
}

.navbarButton {
    padding:5px;
    text-align: right;
}