@value makerPink,makerDeepGreen from "../../common/color.css";
@value makerSmall from "../../common/size.css";

.navbar {
    display: flex;
    background-color:makerPink;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 1rem;
}

.logo {
    display: flex;
    align-items: center;
}

.title {
    font-weight: bold;
    font-size: makerSmall;
    color:  makerDeepGreen;
}

.img {
    width: 30px;
    height: 30px;
}

.loginToJoin {
    display: flex;
}

.navbarLists {
    display: flex;
}

.navbarButton {
    font-weight: bold;
    font-size: makerSmall;
    padding:5px;
    text-align: right;
    color:  makerDeepGreen;
}